{% comment %}
Book card, "book" points to book object
{% endcomment %}

{% assign b = include.book %}

<div class="card my-3">
 <div class="container">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 pl-0">
      <img class="card-img img-fluid" src="{{b.image.path | replace: 'medium', 'small'}}" sizes="(max-width: 480px) 500px, 250px" srcset="{{b.image.path}} 500w, {{b.image.path | replace: 'medium', 'small'}} 250w" alt="{{b.title}} borító">
    </div>
    <div class="col p-0">
      <div class="card-body">
        <h2 class="card-title h5">{{b.title}}</h5>
        <h3 class="card-subtitle mb-2 text-muted h6">{{b.author}}</h6>
        <div class="card-text">{{b.description}}</div>
        <a href="{{b.permalink}}" class="btn btn-primary">Megnyitás</a>
      </div>
    </div>
  </div>
 </div>
</div>
