<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand mr-1" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/konyvek">Könyvek</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sorozatok
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for s in site.series %}
            <a class="dropdown-item" href="{{s.permalink}}">{{s.short_title}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patreon-novellak">Patreon novellák</a>
        </li>
      </ul>
    </div>
    <div class="row justify-content-end">
      <div class="col px-2"><a href="https://hu.wikipedia.org/wiki/Goldman_Júlia"><img class="img-responsive center-block" src="/assets/images/logos/wikipedia.webp" alt="Wikipedia oldal link" width=30px></a></div>
      <div class="col px-2"><a href="https://moly.hu/alkotok/j-goldenlane"><img class="img-responsive center-block" src="/assets/images/logos/moly_small.webp" alt="Moly.hu oldal link" width=30px></a></div>
      <div class="col px-2"><a href="https://www.facebook.com/jgoldenlane"><img class="img-responsive center-block" src="/assets/images/logos/fb.webp" alt="Facebook oldal link" width=30px></a></div>
      <div class="col px-2"><a href="https://www.patreon.com/goldenlane"><img class="img-responsive center-block" src="/assets/images/logos/patreon.webp" alt="Patreon oldal link" width=30px></a></div>
    </div>
  </div>  
</nav>
