---
layout: page
---

{% if page.series %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/konyvek">Könyvek</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
  </ol>
</nav>
{% endif %}

{{content}}

{% if page.series %}
  {% assign books = site.books | where: "series",page.series | sort: 'order' %}
{% else %}
  {% assign books = site.books | sort: 'publication_date' | reverse %}
{% endif %}

<div>
  {% for b in books %}
    {% include bookcard.html book=b %}
  {% endfor %}
</div>
