---
layout: default
---

{% assign filepath = page.image.path | split: "/" %}
{% assign folderpath = page.image.path | remove: filepath.last%}

<h1 class="ml-1">{{page.title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-xl-8 col-md-6 col-sm-12 mx-0 py-4 px-3">
      <div>{{page.long_description}}</div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12 mx-0 py-4 px-3">
      {% include carousel.html folder=folderpath%}
    </div>
  </div>
</div>
<div class="container">
{{page.content}}
</div>  
